<%= form_for task, remote: true do |f| %>
  <div>
    <div>
      <%= task.description %>
    </div>
    <div>
      <%= task.order_number %>
    </div>
    <div>
      <%= task.due_at %>
    </div>
    <div>
      <%= f.check_box :is_completed,  :onclick => "submitOnCheck()" %>
    </div>
    <div>
      <%= link_to 'Show', task %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
