<%= form_for task, remote: true do |f| %>
  <li class="row">
    <div class="col-md-3">
      <%= task.description %>
    </div>
    <div class="col-md-3">
      <%= task.order_number %>
    </div>
    <div class="col-md-3">
      <%= task.due_at %>
    </div>
    <div class="col-md-3">
      <%= f.check_box :is_completed,  :onclick => "submitOnCheck()" %>
    </div>
    <!-- <div>
      <%= link_to 'Show', task %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div> -->
  </li>
<% end %>
